<div *ngIf="isLoggedIn" class="index-page">
  <mat-card class="post-card" *ngFor="let fridge of fridges; let i = index">
    <mat-card-header style="text-align: left">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{fridge.fridgeName}}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let product of fridge.fridgeProducts">
      <p>{{product.productId}}</p>
    </mat-card-content>
  </mat-card>
</div>

<section class="content-section">
  <h1>Look at our recipes</h1>
  <mat-progress-bar *ngIf="!isDataLoaded" mode="indeterminate"></mat-progress-bar>

  <div layout="column"  *ngIf="isLoggedIn">
  <mat-grid-list cols="5" >
      <mat-grid-tile *ngFor="let recipe of recipes; let i = index" >
        <mat-card class="card-recipe">
          <mat-card-header style="text-align: left">
            <mat-card-title>{{recipe.label}}</mat-card-title>
            <mat-card-subtitle>Calories: {{recipe.calories|number: '1.0-0'}}</mat-card-subtitle>
            <mat-card-subtitle>Source: {{recipe.source}}</mat-card-subtitle>
          </mat-card-header>
          <img class="recipe-img" mat-card-image src="{{recipe.image}}" alt="post image">
          <mat-card-actions>
            <a mat-flat-button class="recipe-btn" color="accent" href="{{recipe.url}}">Go to recipe</a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</div>
</section>

