.index-page {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}

.post-card {
  margin: 2rem auto;
  width: 20%;
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}
.recipe-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  background-size: cover;

}

.card-recipe{
  width: 350px;
  margin: 4px;
}
.card-fridge{
  display: table;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.recipe-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;


  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

h1.test2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  letter-spacing: -1px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

.content {
  padding: 10px;
}

.content > mat-card {
  width: 100px;
}

