.index-page {
  display: block;
  margin: 0 auto;
  width: 60%;
  padding-top: 3rem;
}

.post-card {
  margin: 2rem auto;
  width: 20%;
}

.is-liked {
  color: darkred;
}

.not-liked {
  color: grey;
}
.recipe-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: 220px;
}

.card-recipe{
  width: 350px;
  margin: 4px;
}
.card-fridge{
  width: 350px;
  margin: 4px;
}
.recipe-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.example-ripple-container {
  cursor: pointer;
  text-align: center;


  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

h1.test2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  letter-spacing: -1px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}
